{% extends 'base.html' %}

{% block title %}Courses | {{ block.super }}{% endblock title %}


{% block content %}


<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Courses</h1>

    
            <div class='row'>
            {% for item in object_list %}
                <div class='col-md-4 col-sm-12'>
                     {% include 'courses/snippets/course_thumbnail_display.html' with course=item %}

                </div>
                

                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}

                
                {% empty %}
                <p class='lead'>No item found</p>
            {% endfor %}
        </div>
    

    {% if page_obj.has_previous %}
        <a href='{% url "courses:list" %}?page={{ page_obj.previous_page_number }}'>Previous</a>
    {% endif %}

     Page {{ page_obj.number }} of {{ paginator.num_pages }}

    {% if page_obj.has_next %}
           <a href='{% url "courses:list" %}?page={{ page_obj.next_page_number }}'>Next</a>
    {% endif %}



    </div>
</div>
{% endblock content %}
