{% extends 'base.html' %}

{% block title %}Courses | {{ block.super }}{% endblock title %}


{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Courses</h1>

        {% if request.GET.q %}
            <p>You searched for <b>{{ request.GET.q }}</b></p>
        {% endif %}
            <div class='row'>
            {% for item in object_list %}
                <div class='col-md-4 col-sm-12'>
                     {% include 'courses/snippets/course_thumbnail_display.html' with course=item %}

                </div>
                

                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}

                
                {% empty %}
                <p class='lead'>No item found</p>
            {% endfor %}
        </div>
    
    </div>
</div>
{% endblock content %}
