{% extends 'base.html' %}
 {% load humanize %}
{% block title %}Videos | {{ block.super }}{% endblock title %}


{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>


{% include 'videos/snippets/video-search-form.html' with request=request %}



    <h1>{{ object.title }}</h1>

    
    {{ object.description|linebreaks }}

    {{ object.display_price }}




    <p>
     <ul>
            {% for item in object.lecture_set.all %}
                <li>{{ item.order }} <a href='{{ item.get_absolute_url }}'>{{ item.title }}</a></li>
            
                {% empty %}
                <li>No lectures found</li>
            {% endfor %}
        </ul>


    </p>
</div>
</div>
{% endblock content %}
