{% extends 'base.html' %}
{% load render_video %}

{% block title %}Videos | {{ block.super }}{% endblock title %}


{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'courses:list' %}">Courses</a></li>
  <li><a href="{{ object.course.get_absolute_url }}">{{ object.course.title }}</a></li>
  <li class="active">{{ object.title }}</li>
</ol>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ object.title }}</h1>

    {% render_video object.video %}
    
     <p>{{ object.updated }}</p>
    <p>{{ object.description }}</p>
   
</div>
</div>
{% endblock content %}
