{% extends "base.html" %}
{% load render_video %}

{% block content %}
<div class='row'>
    <div class='col-sm-12'>
        <h1>{{ object.title }}</h1>
        <div class='col-sm-6 col-sm-offset-6'>
            {% render_video object.video %}
        </div>
    </div>

    <div class='row'>
    {% for item in courses %}
        <div class='col-sm-4'>
        {% include 'courses/snippets/course_thumbnail_display.html' with course=item %}
        </div>
        {% cycle '' '' '</div></div><div class="row"><div class="col-sm-4">' %}
    {% endfor %}
    </div>


</div>

{% endblock %}