{% extends "base.html" %}
{% load search_form %}

{% block content %}

<div class='row'>
<div class='col-sm-4 col-sm-offset-4'>
<h1>Search</h1>
{% search_form request False %}

</div>
</div>
{% if request.GET.q %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>

<h2>Results for {{ request.GET.q }}</h2>
{% for item in qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in l_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in c_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

</div>

</div>
{% endif %}

{% endblock %}