{% extends "base.html" %}
{% load search_form %}

{% block content %}

<div class='row'>
<div class='col-sm-4 col-sm-offset-4'>
<h1>Search {% if request.GET.q %}<small>Results for {{ request.GET.q }}</small>{% endif %}</h1>

</div>
</div>

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h2>Results</h2>
{% for item in qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in l_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in c_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

</div>

</div>

{% endblock %}