{% extends "base.html" %}


{% block content %}

<div class='row'>
<div class='col-sm-4 col-sm-offset-4'>
<h1>Search</h1>
<form method='GET' action='{% url "search:default" %}'>
<input type='text' value='{{ request.GET.q }}' name='q' class='form-control' placeholder="Search..">
<button  class='btn btn-default' type='submit' ><i class='fa fa-search'></i> Search</button>
</form>
</div>
</div>

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h2>Results</h2>
{% for item in qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in l_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

{% for item in c_qs %}
    <a href='{{ item.get_absolute_url }}'>{{ item.id }}- {{ item.title }}</a><br/>
{% endfor %}

</div>

</div>

{% endblock %}